
/*** Для всех кнопок
*/
button {
    color: var(--def-color);
    font-weight: bold;
    width: 100%;
    margin:2px;
    border-radius: 8px;
    cursor: pointer;
}

/*** Для кнопок в таблице
*/
.btn-t-cell {
    width: 25px;
    max-width: 25px;
    color: var(--def-color);
    font-weight: normal;
    background-color: transparent;
    /*background-color: var(--def-background);*/
    border-radius: 0px;
    border: 0px;
}

.btn-t {
    width: var(--btn-width);
    color: black;
    font-weight: normal;
    border-radius: 5px;
}

.btn-t-edit {
    background-color: #AFEEEE;
}

.btn-t-in_approve {
    background-color: #EEE8AA;
}

.btn-t-approved {
    background-color: #98FB98;
}

.btn-t-rejected {
    background-color: #F08080;
}

.btn-t-sel {
    font-weight: bold;
    font-style:oblique;
    border: 3px solid black;
    background-color: #87CEEB;
}

/*** Для кнопок с иконками
*/
.btn-icon {
    width: var(--inp-height);
    height: var(--inp-height);
    margin: 3px 1px 0px 0px;
    border: 0px;
    background-color: transparent;
}

.btn-head {
/*    width: 150px;
    border: 1px grey solid;
    text-align: center;
    font-style: italic;
    font-weight: 200;*/
    color: var(--def-color);
    background-color: transparent;
    text-decoration-color: transparent;
/*    padding: 3px;*/
    margin: 0px 10px 0px 0px;
}

/* Кнопки в таблице Users
*/
.btn-left-width {
    width: 100px;
    margin-left: 5px;
}

/*
*/
.border-left {
    border-left:1px solid var(--border-color);
    padding-left:15px;
}

/*
*/
.border-right {
    border-right:1px solid var(--border-color);
    padding-right:15px;
}

