<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/common.css">
<!--    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">-->
    <link rel="icon" href="/static/img/4388342.png" type="image/x-icon">
    <title>Регистрация</title>

</head>
<body>
    <form name="form" method="POST" class="center_frame">
<!--        <p class="fa fa-address-card-o fa-lg" aria-hidden="true"></p>-->
        <img class="fit-picture" src="/static/img/928625-200.png">
        <input style="margin: 5px;"  type="text" id="user_id" name="user_name" placeholder="логин">
        <input style="margin: 3px;" type="password" name="user_password" placeholder="пароль">
        <p>
            <a style="color: red;"></a>
        </p>
        <button style="margin: 10px;"  type="submit" name="login_btn" value="submit" class="sub_button">ВОЙТИ</button>
    </form>
</body>
</html>