<?xml version="1.0" ?>
<!DOCTYPE html  PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'  'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<html>
    <head>
        <p style="width:100%; display:inline-block;">
            <button name="btn_submit" style="float:right;">Submit</button>
        </p>
    </head>
    <body>
        <div>Текст1<br>TEXT1</div>
        <p style="width:100%; display:inline-block;">
            <input type="week" name="week" value="" style="">
        </p>
    </body>

<!--    <ul>-->
<!--        <li>first item</li>-->
<!--        <li>second item</li>-->
<!--        <li>third item</li>-->
<!--    </ul>-->
</html>